@import "tailwindcss";

:root {
    font-family: 'Proxima Nova', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.blob {
    border-radius: 50%;
    opacity: 0.3;
    animation-name: floatBlob;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    filter: blur(4px);
}

@keyframes floatBlob {
    0% {
        transform: translate(0px, 0px) scale(1);
    }

    50% {
        transform: translate(30px, -30px) scale(1.1);
    }

    100% {
        transform: translate(0px, 0px) scale(1);
    }
}


@font-face {
    font-family: "PPGoshaSans";
    src: url("./assets/fonts/PPGoshaSans-Regular.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PPGoshaSans";
    src: url("./assets/fonts/PPGoshaSans-Bold.otf") format("opentype");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./assets/fonts/ProximaNova-Regular.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./assets/fonts/ProximaNova-Bold.otf") format("opentype");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./assets/fonts/ProximaNova-Semibold.otf") format("opentype");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./assets/fonts/ProximaNova-Thin.otf") format("opentype");
    font-weight: 200;
    font-display: swap;
}

@theme {
    --font-ppgosha: "PPGoshaSans";
}