@import "tailwindcss";

:root {
    font-family: 'Proxima Nova', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.blob {
    border-radius: 50%;
    opacity: 0.3;
    animation-name: floatBlob;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    filter: blur(4px);
}

@keyframes floatBlob {
    0% {
        transform: translate(0px, 0px) scale(1);
    }

    50% {
        transform: translate(30px, -30px) scale(1.1);
    }

    100% {
        transform: translate(0px, 0px) scale(1);
    }
}


@font-face {
    font-family: "PPGoshaSans";
    src: url("./assets/fonts/PPGoshaSans-Regular.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PPGoshaSans";
    src: url("./assets/fonts/PPGoshaSans-Bold.otf") format("opentype");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./assets/fonts/ProximaNova-Regular.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./assets/fonts/ProximaNova-Bold.otf") format("opentype");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./assets/fonts/ProximaNova-Semibold.otf") format("opentype");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./assets/fonts/ProximaNova-Thin.otf") format("opentype");
    font-weight: 200;
    font-display: swap;
}

@theme {
    --font-ppgosha: "PPGoshaSans";
}

.Vue-Toastification__toast--default.my-custom-toast-class {
    @apply flex items-center text-black border-2 border-black p-2 rounded-lg transition-all font-semibold shadow-[4px_4px_0px_0px_black]
}

.Vue-Toastification__toast--success.my-custom-toast-class {
    @apply flex items-center text-green-900 bg-[#96FEAD] border-2 border-black p-2 rounded-lg transition-all font-semibold shadow-[4px_4px_0px_0px_#000];
}

.Vue-Toastification__toast--warning.my-custom-toast-class {
    @apply flex items-center text-yellow-900 bg-[#FDD965] border-2 border-black p-2 rounded-lg transition-all font-semibold shadow-[4px_4px_0px_0px_#000];
}

.Vue-Toastification__toast--error.my-custom-toast-class {
    @apply flex items-center text-red-950 bg-[#FF2C57] border-2 border-black p-2 rounded-lg transition-all font-semibold shadow-[4px_4px_0px_0px_#000];
}

.Vue-Toastification__toast--info.my-custom-toast-class {
    @apply flex items-center text-blue-900 bg-[#F1E9FF] border-2 border-black p-2 rounded-lg transition-all font-semibold shadow-[4px_4px_0px_0px_#000];
}

.Vue-Toastification__toast.my-custom-toast-class .Vue-Toastification__close-button {
    @apply text-black font-extrabold text-xl ml-2 bg-white border-2 border-black w-6 rounded-full h-6 flex items-center justify-center pr-2.5;
    filter: drop-shadow(2px 2px 0 #ff3c00);
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #000000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}